.container {
   position: relative;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.photocircle {
    position: relative;
    border: dotted lightgray;
    border-width: 5px;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    
    
}

.biobox {
    position: relative;
    border: dotted lightgray;
    border-width: 5px;
    height: 330px;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    bottom: 20px;
    padding: 10px;
}

.socialMedia {
    position: relative;
    bottom: 580px;
    width: 50px;
    height: 130px;
    border: dotted lightgray;
    border-width: 5px;
    visibility: hidden;

}
/******************PROJECTS**************/
section.projects{
    text-align: center;
}
input#projectExpand {
    background-color: black;
    color: rgb(255, 225, 225);
    position: relative;
    bottom: 40px;
    font-size: 16px;
    cursor: pointer;
    width: 250px;
}
input#projectExpand:hover {
    background-color: rgb(8, 87, 34);
    transition: 0.3s;
}
.projects-main {
    position: relative;
    bottom: 38px;
    border: dotted lightgray;
    border-width: 5px;
    width: 280px;
    margin-right: auto;
    margin-left: auto;
}

.photo {
    display:inline-block;
    border: dotted lightgray;
    border-width: 5px;
    height: 100px;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    clear: both;

}


/***************TEXT STYLING*****************/

h1.name {
    position: relative;
    bottom: 48px;
    text-align: center;
    color: gray;
    text-shadow: 2px 2px 5px black;
}
h1.name2 {
    position: relative;
    bottom: 147px;
    left: 5px;
    text-align: center;
}
/********************************/
h2.header {
    position: relative;
    bottom: 165px;
    text-align: center;
    color: gray;
    text-shadow: 2px 2px 5px black;
}
h2.header2 {
    position: relative;
    bottom: 216px;
    left: 5px;
    text-align: center;
}
p.bio {
    position: relative;
    bottom: 225px;
    font-size: 12px;
}

/***************MEDIA QUERIES*****************/

@media screen and (min-width:760px){
    .biobox {
        height: 250;
    }
    h1.name {
    bottom: 48px;
    } 

    h1.name2 {
     bottom: 110px;
    }

    h2.header {
        bottom: 130px;
    }
    h2.header2 {
        bottom: 180px;
    }
    p.bio {
        bottom: 200px;
        font-size: 15px;
    }
    
    .biobox {
        width: 450px;
    }
    
    .socialMedia {
        visibility: visible;
    }

    input#projectExpand {
        width: 400px;
    }

    .projects-main {
        width: 450px;
    }
}

@media screen and (min-width:1024px){
    .biobox {
        width:550px;
        height: 330px;
    }
    p.bio {
        font-size: 16px;
    }
    .photocircle {
        width: 250px;
        height: 250px;
    }
    .projects-main {
        width: 550px;
    }
}     